on:
  push:
    branches:
      - main
  workflow_dispatch:
  
  
env:
  PACKAGE_ATTR: vscodium
  COMMIT_SHA: 63b1f9c8587b99002598b0e7b0202888479a9414
jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: cachix/install-nix-action@v31
        with:
           extra_nix_config: |
             sandbox = true
      # - run: NIXPKGS_ALLOW_UNFREE=1 nix-build -I nixpkgs=https://github.com/NixOS/nixpkgs/archive/${COMMIT_SHA}.tar.gz -E 'with import <nixpkgs> { config = { allowUnfree = true; }; }; vscode.override { isInsiders = true; }' 
      - run: NIXPKGS_ALLOW_UNFREE=1 nix-build -A ${PACKAGE_ATTR} https://github.com/NixOS/nixpkgs/archive/${COMMIT_SHA}.tar.gz
      # - run: NIXPKGS_ALLOW_UNFREE=1 nix-build -A spidermonkey_115 https://github.com/NixOS/nixpkgs/archive/${COMMIT_SHA}.tar.gz --keep-going
      # - run: find /nix/store/0basx4asa7cpfcdsnn4nccci32ndcrmy-vscode-insiders-1.97.0-insider
      - run: ls -lAh
      - run: cd result && find .
